@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');


html {
    font-family: 'Inconsolata', monospace;
}

body {
    padding: 0;
    margin: 0;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
}

.left {
    width: 30%;
    height: 100%;
}

.right {
    width: 70%;
    height: 100%;
}

.header {
    padding: 1em;
    display: flex;
    flex-flow: column nowrap;
    height: 25%;
}

.head{
    font-size: 5em;
    margin-top: 0.1em;
    margin-bottom: 0.5em;
}

.right {
    float: right;
}

#time-container {
    right: 0;
    padding: 1em;
    display: flex;
    flex-flow: column nowrap;
    height: 25%;
}

#time{
    font-size: 7em;
    text-align: right;
}

#date {
    text-align: right;
    font-size: 2em;
}

.link > div > input {
    cursor: pointer;
	color: black;
	font-size: 42px;
	font-family: 'Inconsolata', monospace;
	background: transparent;
	width: 42px;
	height: 42px;
	padding: 10px;
	border: solid 3px black;
	outline: none;
	border-radius: 35px;
	transition: all 0.3s;
    left: 25%;
    position: relative;
}

.search {
	transition: all 0.5s;
}

.link > div > input::placeholder {
	opacity: 0;
	transition: opacity 150ms ease-out;
}

.search > div > input:focus::placeholder {
	opacity: 1;
}

.search > div > input:focus,

.search > div > input:not(:placeholder-shown) {
	padding: 10px 10px 10px 15px;
	width: 50%;
    left: 0%;
}

.youtube > div > input {
    background-color: rgb(255,0,0);
    color: rgb(40, 40, 40);
    font-weight: 1000;
    text-align: center;
}

.youtube > div > input:hover {
    opacity: 1;
    width: 23%;
    left: 15%;
    color: rgb(40, 40, 40);
}

.youtube > div > input:not(:hover) {
    color: rgb(255,0,0);
}


.netflix > div > input {
    background-color: rgb(229,9,20);
    color: rgb(40, 40, 40);
    font-weight: 1000;
    text-align: center;
}

.netflix > div > input:hover {
    opacity: 1;
    width: 23%;
    left: 15%;
    color: rgb(40, 40, 40);
}

.netflix > div > input:not(:hover) {
    color: rgb(229,9,20);
}

