@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');


html {
    font-family: 'Inconsolata', monospace;
}

body {
	background-color: #1D1F21;
	font-family: 'Space Mono', monospace;
	font-size: 2em;
	color: #E9E9E9;
	width: 99vw;
}

a {
	color: #E9E9E9;
    display: contents;
    position: absolute;
}

span {
	font-size: 1em !important;
}

div {
    margin: 0;
    padding: 0;
}

header > div {
   display: inline-flex;
   padding: 0.5em;
}

header {
    display: flex;
    justify-content: space-between;
}

header, header h3 {
    margin: 0;
    padding: 0;
}
